* {
    font-family: 'Poppins', sans-serif;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(48, 46, 46);
    opacity: 0.6;
}

.cover-img {
    height: 80vh;
    object-fit: cover;
}

/* responsive for mobile devices */
@media screen and (max-width:688px) {
    .imgae {
        width: 100%;
    }
}